rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function isAdmin() {
      return isAuthenticated() && request.auth.token.email == "edgarrooca@gmail.com";
    }

    match /projects/{projectId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /settings/site {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
